{% extends "layouts/admin/base.html" %}

{% block pageTitle %}
  Add user
{% endblock %}

{% block content %}
<br>

  <div class="jui-width-container">

    <div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
<li class="govuk-breadcrumbs__list-item">
<a class="govuk-breadcrumbs__link" href="/payment-overview">Payment overview</a>
</li>
<li class="govuk-breadcrumbs__list-item">
<a class="govuk-breadcrumbs__link" href="/manage-account">Manage account</a>
</li>
<li class="govuk-breadcrumbs__list-item" aria-current="page">Add user</li>
</ol>
</div>
    <main role="main" class="govuk-main-wrapper">



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h1 class="govuk-heading-xl">Add user</h1>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">

          <div class="govuk-form-group">
            <label class="govuk-label" for="email">
              Email address
            </label>
            <span id="email-hint" class="govuk-hint">
              Should be someone from your organisation
            </span>
            <input class="govuk-input" id="email" name="email" type="text" aria-describedby="email-hint">
          </div>

          <br>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Select permission level
                </h1>
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
                  <strong>Administration</strong>
                  <span id="email-hint" class="govuk-hint">
                    View transactions <br>
                    Make payments <br>
                    Manage settings
                  </span>
                </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  <strong>View and pay</strong>
                  <span id="email-hint" class="govuk-hint">
                    View transactions <br>
                    Make payments <br>
                    Cannot manage settings
                  </span>
                </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                  <strong>View only</strong>
                  <span id="email-hint" class="govuk-hint">
                    View transactions <br>
                    Cannot make payments <br>
                    Cannot manage settings
                  </span>
                </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!-- <div class="govuk-inset-text">
            It can take up to 3 working days to add a user.
          </div> -->

          <br>

          <a href="/manage-account" role="button" class="govuk-button">
            Send invitation email
          </a>

          <br>

          <a class="govuk-link govuk-!-font-size-19" href="/manage-account">Cancel</a>

        </div>
      </div>






















    </main>
  </div>



{% endblock %}
