{% extends "layouts/admin/base.html" %}

{% block pageTitle %}
  RC-9584-2521-7742-1457
{% endblock %}

{% block content %}
<br>

  <div class="jui-width-container">

              <!-- <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/payment-overview">Payment overview</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">PBA0241463</li>
          </ol>
          </div> -->

          <a href="/payment-overview" class="govuk-back-link">Back</a>

    <main role="main" class="govuk-main-wrapper">







          <!-- <a href="/payment-overview" class="govuk-back-link">Back</a> -->



            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Payment summary</h1>

                 <dl class="govuk-check-your-answers govuk-check-your-answers--short">
                   <div class="govuk-check-your-answers__contents">
                     <dt class="govuk-check-your-answers__question">
                       Payment reference
                     </dt>
                     <dd class="govuk-check-your-answers__answer">
                       RC-9584-2521-7742-1457
                     </dd>
                     <dd class="govuk-check-your-answers__change">

                     </dd>
                   </div>
                   <div class="govuk-check-your-answers__contents">
                     <dt class="govuk-check-your-answers__question">
                       Total payment amount
                     </dt>
                     <dd class="govuk-check-your-answers__answer">
                       £215.00
                     </dd>
                     <dd class="govuk-check-your-answers__change">
                       <div class ="white-text"></div>

                     </dd>
                   </div>
                 </dl>

                 <br>


                   <h3 class="govuk-heading-m">Fee details</h3>


                  <dl class="govuk-check-your-answers govuk-check-your-answers--short">
                    <div class="govuk-check-your-answers__contents">
                      <dt class="govuk-check-your-answers__question">
                        Description
                      </dt>
                      <dd class="govuk-check-your-answers__answer">
                        	Application for probate
                      </dd>
                      <dd class="govuk-check-your-answers__change">

                      </dd>
                    </div>
                    <div class="govuk-check-your-answers__contents">
                      <dt class="govuk-check-your-answers__question">
                        <caption></caption>
                        Code
                      </dt>
                      <dd class="govuk-check-your-answers__answer">
                      	FEE0334
                      </dd>
                      <dd class="govuk-check-your-answers__change">

                      </dd>
                    </div>
                    <div class="govuk-check-your-answers__contents">
                      <dt class="govuk-check-your-answers__question">
                        Fee amount
                      </dt>
                      <dd class="govuk-check-your-answers__answer">
                        £215.00
                      </dd>
                      <dd class="govuk-check-your-answers__change">

                      </dd>
                    </div>
                    <div class="govuk-check-your-answers__contents">
                      <dt class="govuk-check-your-answers__question">
                        Net amount
                      </dt>
                      <dd class="govuk-check-your-answers__answer">
                        £215.00
                      </dd>
                      <dd class="govuk-check-your-answers__change">
                        <div class ="white-text"></div>

                      </dd>
                    </div>
                  </dl>

                  <br>





                  <h3 class="govuk-heading-m">Payment method</h3>

                 <dl class="govuk-check-your-answers govuk-check-your-answers--short">
                   <div class="govuk-check-your-answers__contents">
                     <dt class="govuk-check-your-answers__question">
                       Method
                     </dt>
                     <dd class="govuk-check-your-answers__answer">
                       Pay by account
                     </dd>
                     <dd class="govuk-check-your-answers__change">

                     </dd>
                   </div><div class="govuk-check-your-answers__contents">
                     <dt class="govuk-check-your-answers__question">
                       Type
                     </dt>
                     <dd class="govuk-check-your-answers__answer">
                       Credit
                     </dd>
                     <dd class="govuk-check-your-answers__change">

                     </dd>
                   </div>
                   <div class="govuk-check-your-answers__contents">
                     <dt class="govuk-check-your-answers__question">
                       Account name
                     </dt>
                     <dd class="govuk-check-your-answers__answer">
                       Bluebird solicitors
                     </dd>
                     <dd class="govuk-check-your-answers__change">

                     </dd>
                   </div>
                   <div class="govuk-check-your-answers__contents">
                     <dt class="govuk-check-your-answers__question">
                       Account number
                     </dt>
                     <dd class="govuk-check-your-answers__answer">
                       PBA0241463
                     </dd>
                     <dd class="govuk-check-your-answers__change">

                     </dd>
                   </div>
                   <div class="govuk-check-your-answers__contents">
                     <dt class="govuk-check-your-answers__question">
                       Customer internal reference
                     </dt>
                     <dd class="govuk-check-your-answers__answer">
                       Probate 33
                     </dd>
                     <dd class="govuk-check-your-answers__change">
                       <div class ="white-text"></div>

                     </dd>
                   </div>
                 </dl>

                 <br>

                 <h3 class="govuk-heading-m">Payment history</h3>

                  <dl class="govuk-check-your-answers govuk-check-your-answers--short">
                    <div class="govuk-check-your-answers__contents">
                      <dt class="govuk-check-your-answers__question">
                        Payment pending
                      </dt>
                      <dd class="govuk-check-your-answers__answer">
                        £215.00
                      </dd>
                      <dd class="govuk-check-your-answers__change">
                        29 Jul 2018—12:31:27
                      </dd>
                    </div>

                    <div class="govuk-check-your-answers__contents">
                      <dt class="govuk-check-your-answers__question">
                        Payment success
                      </dt>
                      <dd class="govuk-check-your-answers__answer">
                        £215.00
                      </dd>
                      <dd class="govuk-check-your-answers__change">
                        29 Jul 2018—12:31:27
                      </dd>
                    </div>
                  </dl>

              </div>





















    </main>
  </div>



{% endblock %}
